@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Manrope:wght@200..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rock+Salt&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font: 400 18px "Manrope", sans-serif;
    background-color: #ccf2ff;
}
li{
    list-style-type: none;
}
/* Criação de cores no root do CSS */
:root{
    --blue: #00008B;
    --gray: #555555;
    --skyBlue: #00BFFF;
    --silver: #C0C0C0;
    --red: #FF0000;
    --white: #FFFFFF;
    --darkGray: #959595;
}
/* Header */
.main-header{
    background-image: url(background-image.png);
    background-position: 50% 39%; /*Alinha os elementos nos eixos x e y*/
    display: flex;
    flex-direction: column; /*Alinha os elementos um embaixo do outro*/
    align-items: center;
}
.main-nav{
    width: 100%;
}
.header-list-container{
    display: flex;
    justify-content: space-between; /*Adiciona espaço entre os elementos da lista*/
    align-items: center;
    padding: 16px 0;
}
.nav-item{
    text-transform: uppercase; /*Deixar todas as letras em maiúsculo*/
    color: #1b4b05;
}
.nav-item a{
    text-decoration: none;
    color: inherit; /*Pega a cor em nav-item*/
}
.nav-item:hover {
    color: rgba(27, 75, 5, 0.6); /*Colocar a mesma cor do nav-item em % de transparência*/
    transition: 1s;
}
hr{
    width: 100%;
}
.main-about{
    padding: 40px 0 64px;
}
.container{
    max-width: 600px;
    padding: 0 16px;
    margin: 0 auto; /*Não aplica encima/embaixo, o auto distribui o máximo possível para esquerda e direita*/
}
.title-median{
    font-family: "Manrope", cursive;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 24px;
}
.about-image{
    float: left; /*Ajusta a imagem à esquerda dentro do texto*/
    margin: 0 20px 10px 0;
    width: 200px;
    height: auto;
}
.about-description{
    text-align: justify;
}
/* Rodapé do Site */
.main-footer{
    background-color: var(--skyBlue);
    padding: 15px 0;
}
/* .main-footer{ Coloca o footer fixado no final
    bottom: 0;
    position: fixed;
    right: 0;
    left: 0;
} */
.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between; /*Coloca o nome de um lado e a lista de ícones do outro*/
}
.title-smaller{
    font-family: "Raleway", sans-serif;
    color: var(--blue);
    font-size: 26px;
}
.footer-item{
    width: 50px;
    height: 50px;
    padding: 15px 0;
}
.footer-item + .footer-item{
    margin-left: 16px; /*Coloca um margin somente entre os itens de acordo com o lugar (esquerda ou direita) até somente o penúltimo item.*/
}
/* Área do Contato */
.contact-text{
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    color: var(--gray);
}
.contact{
    background-color: var(--skyBlue);
    padding: 30px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.contact-label{
    display: block;
    margin-bottom: 20px;
    color: var(--blue);
}
.contact-field{
    display: block;
    width: 100%;
    height: 30px;
    font-size: 16px;
    padding-left: 10px;
    border: none;
}
.contact-field:focus{
    background-color: var(--silver);
    outline: none; /*Remeve a borda quando selecionado o campo*/
}
textarea.contact-field{
    height: 150px;
    padding: 10px;
    font-family: "Raleway", Calibri;
}
.button-form{
    background-color: var(--blue);
    color: var(--white);
    border: 2px solid var(--blue);
    border-radius: 10px;
    padding: 2px 6px;
    font-weight: bold; /*Deixa a fonte mais espessa, negrito*/
    cursor: pointer;
}
.button-form:hover{
    background-color: var(--white);
    color: var(--blue);
}
.contact-maps{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}
/* Área do Index */
.title-header{
    font-family: "Madimi One", sans-serif;
    color: var(--blue);
    font-size: 38px;
    padding-bottom: 10px;
}
.title-large{
    font-family: "Rock Salt", cursive;
    font-size: 38px;
    color: var(--blue);
    text-align: center;
}
.description{
    text-align: center;
    color: var(--gray);
    padding-bottom: 10px;
}
.emphasis{
    background-color: var(--skyBlue);
    color: var(--blue);
    border-radius: 25px;
}
.product-container{
    display: flex;
    flex-wrap: wrap; /*Ordenar a grade*/
    justify-content: space-between;
    gap: 40px;
}
.product{

}
.product-title{

}
.product-image{

}
.product-price-container{

}
.product-price{

}
.button-hover{

}

