@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Manrope:wght@200..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rock+Salt&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, button, input{
    font: 400 22px "Manrope", sans-serif;
    background-color: #ccf2ff;
}
li{
    list-style-type: none;
}
/* Criação de cores no root do CSS */
:root{
    --blue: #00008B;
    --gray: #555555;
    --skyBlue: #00BFFF;
    --silver: #C0C0C0;
    --red: #FF0000;
    --white: #FFFFFF;
    --darkGray: #959595;
}
/* Header */
.main-header{
    background-image: url(background-image.png);
    background-position: 50% 39%; /*Alinha os elementos nos eixos x e y*/
    display: flex;
    flex-direction: column; /*Alinha os elementos um embaixo do outro*/
    align-items: center;
}
.main-nav{
    width: 100%;
}
.header-list-container{
    display: flex;
    justify-content: space-between; /*Adiciona espaço entre os elementos da lista*/
    align-items: center;
    padding: 16px 0;
}
.nav-item{
    text-transform: uppercase; /*Deixar todas as letras em maiúsculo*/
    color: #1b4b05;
}
.nav-item a{
    text-decoration: none;
    color: inherit; /*Pega a cor em nav-item*/
}
.nav-item img{
    height: 100px;
    width: 100px;
}
.nav-item:hover{
    color: rgba(27, 75, 5, 0.6); /*Colocar a mesma cor do nav-item em % de transparência*/
    transition: 1s;
}
/*Estilo para o sub-item*/

/*Ocultar os sub-itens por padrão*/
.sub-item, .sub-item2 {
    display: none;
    position: fixed;
    padding: 10px;
    border-radius: 5px;
}

/*Mostrar os subitens quando o mouse passa sobre o item pai*/
.nav-item:hover .sub-item, .sub-item2{
    display: block;
}

/*Estilo dos sub-itens*/
.sub-item li{
    margin-bottom: 5px;
}
.sub-item a{
    color: var(--blue);
    text-decoration: none;
}
.sub-item a:hover{
    text-decoration: none;
    border-radius: 5px;
    padding: 0px 3px;
    color: var(--blue);
    background-color: rgba(55, 194, 152, 0.6);
    width: 20px;
}

.logo-zoom{
    transition: transform 0.3s ease;
}
.logo-zoom:hover{
    transform: scale(1.2);
}

hr{
    width: 100%;
}
.main-about{
    padding: 40px 0 64px;
}
.container{
    max-width: 600px;
    padding: 0 16px;
    margin: 0 auto; /*Não aplica encima/embaixo, o auto distribui o máximo possível para esquerda e direita*/
}
.title-median{
    font-family: "Manrope", cursive;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase; /*Letra maiúscula*/
    margin-bottom: 24px;
}
.about-image{
    float: left; /*Ajusta a imagem à esquerda dentro do texto*/
    margin: 0 20px 10px 0;
    width: 200px;
    height: auto;
}
.about-description{
    text-align: justify;
}
/* Rodapé do Site */
.main-footer{
    background-color: var(--skyBlue);
    padding: 15px 0;
}
.main-footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between; /*Coloca o nome de um lado e a lista de ícones do outro*/
}
.title-smaller{
    font-family: "Raleway", sans-serif;
    color: var(--blue);
    font-size: 26px;
}
.list-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-item{
    width: 50px;
    height: 50px;
    padding: 15px 0;
}
.footer-item + .footer-item{
    margin-left: 16px; /*Coloca um margin somente entre os itens de acordo com o lugar (esquerda ou direita) até somente o penúltimo item.*/
}
/* Área do Contato */
.contact-text{
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    color: var(--gray);
}
.contact{
    background-color: var(--skyBlue);
    padding: 30px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.contact-label{
    display: block;
    margin-bottom: 20px;
    color: var(--blue);
}
.contact-field{
    display: block;
    width: 100%;
    height: 30px;
    font-size: 16px;
    padding-left: 10px;
    border: none;
}
.contact-field:focus{
    background-color: var(--silver);
    outline: none; /*Remeve a borda quando selecionado o campo*/
}
textarea.contact-field{
    height: 150px;
    padding: 10px;
    font-family: "Raleway", Calibri;
}
.button-form{
    background-color: var(--blue);
    color: var(--white);
    border: 2px solid var(--blue);
    border-radius: 10px;
    padding: 2px 6px;
    font-weight: bold; /*Deixa a fonte mais espessa, negrito*/
    cursor: pointer;
}
.button-form:hover{
    background-color: var(--white);
    color: var(--blue);
}
.contact-maps{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}
/* Área do Index */
.title-header{
    font-family: "Madimi One", sans-serif;
    color: var(--blue);
    font-size: 38px;
    padding-bottom: 10px;
}
.title-large{
    font-family: "Rock Salt", cursive;
    font-size: 38px;
    color: var(--blue);
    text-align: center;
}
.description{
    text-align: center;
    color: var(--gray);
    padding-bottom: 10px;
}
.emphasis{
    background-color: var(--skyBlue);
    color: var(--blue);
    border-radius: 25px;
}
.product-container{
    display: flex;
    flex-wrap: wrap; /*Ordenar a grade*/
    justify-content: space-between;
    gap: 40px;
    padding-bottom: 30px;
}
.product{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-title{
    font-size: 20px;
    margin-bottom: 6px;
}
.product-image{
    width: 320px; /*Dois produtos por linha (espaço de 600px)*/
    height: 220px;
    margin-bottom: 20px;
}
.description-product{
    font-size: 15px;
    max-width: 320px;
    height: 120px;
    margin-bottom: 10px;
    text-align: justify;
    font-family: "Raleway", sans-serif;
}
.product-price-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; /*botão centralizado de acordo com o preço*/
}
.product-price{
    font-family: "Madimi One", sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.button-hover{
    background-color: var(--skyBlue);
    color: var(--blue);
    border: 2px solid var(--skyBlue);
    border-radius: 10px;
    padding: 4px 2px;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
}
.button-hover:hover{
    background-color: transparent;
    color: var(--blue);
    border: 2px solid var(--skyBlue);
}
.cart-table{
    width: 100%;
    border-collapse: collapse; /*Bordas das colunas debaixo se unam, mesclagem*/
}
.table-head-item{
    text-align: start;
    border-bottom: 2px solid var(--darkGray); /*Adiciona a linha da borda abaixo*/
    text-transform: uppercase;
    padding-bottom: 6px;
}
.second-col, .third-col{
    width: 25%;
}
.cart-product{
    padding: 8px;
}
.product-identification{
    display: flex;
    align-items: center;
}
.cart-product-image{
    width: 120px;
    height: 80px;
    margin-bottom: 10px;
}
.cart-product-title{
    font-size: 20px;
    margin-left: 20px;
}
.cart-product-price{
    font-size: 20px;
    font-family: "Madimi One", sans-serif;
}
.product-qnt-input{
    font-size: 20px;
    width: 45px;
    height: 30px;
    background-color: var(--silver);
    border: 2px solid var(--blue);
    border-radius: 10px;
    text-align: center;
    padding: 2px;
    margin-bottom: 10px;
}
.remove-product-button{
    font-size: 20px;
    background-color: var(--red);
    border: 0;
    color: var(--white);
    border-radius: 7px;
    padding: 4px;
    cursor: pointer;
    margin-left: 3px;
}
.remove-product-button:hover{
    filter: brightness(0.8); /*Diminui o brilho com efeito diferente para clique*/
}
.cart-total-container{
    border-top: 1px solid var(--darkGray);
    text-align: end; /*Leva tudo para o final do campo*/
    padding: 6px 16px 0 0;
}
.cart-total-container strong{
    margin-right: 10px;
}
.purchase-button{
    display: flex;
    padding: 20px;
    background-color: var(--blue);
    color: var(--white);
    border: 0;
    border-radius: 7px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    margin: 24px auto 0;
}
.purchase-button:hover{
    filter: brightness(0.8);
}

/*Responsividade*/
@media (max-width: 825px) {
    .title-header{
        font-size: 32px;
        text-align: center;
    }
}
@media (max-width: 725px) {
    .main-footer-container{
        flex-direction: column;
    }
    .title-median{
        font-size: 30px;
        padding: 4px;
    }
}
@media (max-width: 680px) {
    .product-container{
        justify-content: center;
    }
    .title-median{
        font-size: 27px;
    }
    .title-header{
        font-size: 26px;
    }
}
@media (max-width: 600px) {
    .title-large{
        font-size: 36px;
    }
    .title-median{
        font-size: 24px;
    }
    .product-qnt-input, .remove-product-button{
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 590px){
    .product-identification {
        flex-direction: column;
    }
    .cart-product-title{
        margin-left: 0;
    }
}
@media (max-width: 560px) {
    .title-large{
        font-size: 32px;
    }
    .title-median, .purchase-button{
        font-size: 21px;
    }
    .cart-table{
        font-size: 20px;
    }
    .product-title{
        font-size: 18px;
    }
}
@media (max-width: 500px) {
    .title-header{
        font-size: 30px;
    }
    .title-large{
        font-size: 26px;
    }
    .title-smaller{
        font-size: 22px;
    }
    .purchase-button{
        font-size: 18px;
        padding: 15px;
    }
    .product-title{
        font-size: 18px;
    }
    .cart-table, .cart-product-title, .cart-product-price, .product-qnt-input, .remove-product-button{
        font-size: 17px;
    }
}
@media (max-width: 405px) {
    .header-list-container{
        font-size: 18px;
    }
    .nav-item img{
        width: 80px;
        height: 80px;
    }
    .description{
        font-size: 19px;
        font-family: "Madimi One", cursive;
    }
    .title-header{
        font-size: 28px;
    }
    .title-smaller{
        text-align: center;
        font-size: 17px;
    }
    .title-median{
        font-size: 26px;
    }
    .product-container{
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .product-image{
        width: 315px;
    }
    .purchase-button{
        padding: 13px;
    }
}
@media (max-width: 375px){
    .about-image{
        width: 160px;
    }
    .contact-text{
        font-size: 20px;
    }
    .contact-label{
        font-size: 18px;
    }
    .button-form{
        font-size: 18px;
    }
}